#canvasContainer {
	flex-direction: revert;
	flex-wrap: wrap;
	gap: 8px;
}

canvas.checkered {
	color: var(--medium);
	background: var(--light);
	box-shadow: 0 0 0 5px var(--light);
	width: 120px;
	height: 120px;
	margin: 5px;
}

#canvasContainer {
  overflow-y: auto;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 10px;
	width: 80%;
  padding-bottom: 15px;
}

.preview input {
  background-color: var(--light);
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.preview canvas {
  background-color: var(--light);
  display: block;
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  padding: 5px;
  box-sizing: border-box;
}

.canvas-label {
	display: inline-block;
	width: 20px;
	text-align: center;
	margin-left: -28px;
	background: var(--accent);
	font-size: 90%;
	line-height: 20px;
	border-bottom-left-radius: 7px;
	font-family: mono;
  pointer-events: none;
  opacity: 0.9;
}

#testCanvas {
	height: auto;
	border-radius: 0;
	width: auto;
	transform: scale(2);
	transform-origin: bottom right;
}